:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);

  --hover-bg: #f98f75;
  --hover-text: #ffe9d4;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($juco: flex-start, $alite: flex-start) {
  display: flex;
  justify-content: $juco;
  align-items: $alite;
}

%border {
  border: 1px solid red;
}
