@use "../base/abstracts" as *;

#root {
  @extend %flex;
}

.top {
  padding: 0 4.8vw;
  max-width: 144rem;
}

.main {
  max-width: 144rem;
  > * {
    @extend %border;
    max-height: 100vh;
    overflow-y: hidden;

    &:not(:last-child) {
      height: 100vh;
    }
  }
  .homepage {
    padding: 11.6rem 4.8vw 2rem;
  }
  .about {
    padding: 11.6rem 4.8vw 2rem;
  }
  .testimony {
    padding: 11.6rem 4.8vw 2rem;
  }
  .cta {
    height: 40vh;
    padding: 0 4.8vw;
  }
  footer {
    height: 30vh;
    padding: 4rem 4.8vw;
  }
}
